.dayView {
  padding: 20px;
  position: relative;

}

.tasks {
  margin-top: 20px;
}

.taskList {
  list-style-type: none;
  padding: 0;
}

.taskBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.taskBar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: transparent;
}

.priority-low::after {
  background-color: green;
}

.priority-medium::after {
  background-color: yellow;
}

.priority-high::after {
  background-color: red;
}

.taskActions {
  display: flex;
  gap: 10px;
}

.taskActions button {
  background: none;
  border: none;
  cursor: pointer;
}

.confirmationDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1000;
}

.completed {
  text-decoration: line-through;
}

.overdue {
  color: red;
}



.taskBar.overdue {
  background-color: #f8d7da; 
  border-left: 4px solid #dc3545; 
}




.confirmationDialog {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

.confirmationDialog.visible {
  opacity: 1;
  visibility: visible;
}


.overlay {
  position: absolute;
  bottom: 40px;
  right: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

  @media (max-width: 480px) {
    .taskBar i {
      padding: 0px;
      font-size: 20x;
    }
    .taskBar span {
      padding: 0px;
      font-size: 13px;
    }

}