/* src/styles/DayView.module.css */

.dayView {
  padding: 20px;
}

.tasks {
  margin-top: 20px;
}

.taskList {
  list-style: none;
  padding: 0;
}

.taskBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.taskActions button {
  margin-left: 5px;
}

.priority-L {
  background-color: green;
}

.priority-M {
  background-color: yellow;
  color: black; /* Ensure text is readable on yellow background */
}

.priority-H {
  background-color: red;
}

.confirmationDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.confirmationDialog p {
  margin-bottom: 20px;
}

.confirmationDialog button {
  margin: 0 10px;
}
