.Row {
    height: 100%;
  }
  
  .FormCol {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Header {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .Input {
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    margin-bottom: 1rem;
  }
  
  .Link {
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }
  
  .Link span {
    font-weight: bold;
  }
  
  .ImageCol {
    background: #e9ecef;
    height: 100%;
  }
  
  @media (max-width: 767.98px) {
    .ImageCol {
      display: none;
    }
  }
  